<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
<h1>{{subject}}</h1>
<form method="post" action="/register">
	<input type="email" placeholder="이메일" name="email" />
	<input type="text" placeholder="이름" name="name" />
	<input type="password" placeholder="비밀번호" name="password" />
	<input type="submit" value="회원가입" />
</form>
</body>
</html>