<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/ui.css">
</head>
<body>
<h1>{{subject}}</h1>
<ul>
    {{#each userList}}
        <li>{{email}} / {{name}}</li>
    {{/each}}
</ul>
</body>
</html>